<div class="search-block mt-3 ml-3 mr-3" id="searchContent">
    <h1 class="text-center">STOCK SEARCH</h1>
    <div class="input-group row justify-content-center">
        <input type="text" class="form-control col-md-3 input-box" id="tickerInputText"
            placeholder="Enter stock ticker symbol" aria-label="Enter stock ticker symbol"
            aria-describedby="search-addon" #tickerInput matInput [formControl]="inputControl" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onOptionSelected($event)">
            <mat-option *ngFor="let option of options" [value]="option.symbol">
                {{ option.symbol }} | {{ option.description }}
            </mat-option>
            <mat-option *ngIf="loadingIcon" disabled>
                <mat-spinner diameter="20"></mat-spinner>
            </mat-option>
        </mat-autocomplete>
        <div class="input-group-append">
            <button type="button" class="btn btn-search px-3 py-1" id="tickerInputBtn"
                (click)="fetchDataFromServer(tickerInput.value)"><i class="bi bi-search"></i></button>
            <button type="button" class="btn btn-cancel px-3 py-1" (click)="clear()" routerLink=""><i
                    class="bi bi-x"></i></button>
        </div>
    </div>
</div>

<div class="mt-5 error-span" id="error-msg" [hidden]="isHidden"><span class="text-center">No data
        found. Please enter a valid Ticker</span>
</div>