/* Custom styles */
html, body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.about-block {
    background-color: lightgray;
    padding: 20px;
    border-top: 1px solid lightgray;
    margin-top: auto;
    margin-bottom: 0;
    width: 100%;
    bottom: 0;
}